*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
height: 100vh;
border: 20px solid black;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-content: center;
flex-wrap: wrap;
}

.child1 {
    flex: 100%;
    font-size: 2rem;
    color: black;
    text-align: center;
    height: 200px;
    background: teal;
}

.child2 {
     flex: 50%;   
    font-size: 2rem;
    color: black;
    text-align: center;
    height: 200px;
    background: firebrick;
}

.child3 {
    flex: 50%;
    font-size: 2rem;
    color: black;
    text-align: center;
    height: 200px;
    background:lightskyblue;
}